# Node
node_modules/
**/node_modules/

# Vite
dist/
diamond-rebuild/
diamondesportscenter-madrid/

# Environment
.env
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Editor
.vscode/
